@font-face {
  font-family: 'nexa';
  src:  url('fonts/nexa.otf');
}

@font-face {
  font-family: 'poppins-light';
  src:  url('fonts/poppins-light.ttf');
}

@font-face {
  font-family: 'poppins';
  src:  url('fonts/poppins.ttf');
}

/* Font classes */
.nexa
{
  font-family: nexa;
  text-transform: uppercase;
}

.poppins-light
{
  font-family: poppins-light;
}

.poppins-light
{
  font-family: poppins;
}

body {
  /* background-color: #EE82EE; */
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font: #46494C;
  /*padding-top: 70px;*/
}

#header {
  text-align: center;
}

li {
    list-style-type: none;
}

/*.navbar-nav {
  padding-top: 1.5%;
}*/

.navbar-logo {
  height: auto;
  width: auto;
  max-width: 25px;
  max-height: 25px;
}

.projects {
  display: none;
}

.contact {
  display: none;
}
